img {
    mask:
    radial-gradient(at 70% 31%,#000 29%,#0000 30%),
    radial-gradient(at 30% 31%,#000 29%,#0000 30%),
    linear-gradient(#000 0 0) bottom/100% 50% no-repeat;
   clip-path: polygon(-41% 0,50% 91%, 141% 0);
   height: 50vh;
   width: auto;
   justify-content: space-between;
   padding: 5px;
  }
  
 body{
    background-color: salmon;
 }
 header{
    display: flex;
    justify-content: center;
    font-family: 'lucida handwriting';
 }
 h1{
    display: flex;
    justify-content: center;
    font-family: 'lucida handwriting';
 }
 h2{
   font-family: 'lucida handwriting';
 }
 p{
   display: flex;
   justify-content: center;
   font-family: 'lucida handwriting';
   font-size: 20px;
 }
 ul{
   font-size: 25px;
   font-family: 'lucida handwriting';
 }
